@model PlanoAprendizado.Models.ActualState

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>Estado Atual</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CircleId" class="control-label"></label>
                <select asp-for="CircleId" class ="form-control" asp-items="ViewBag.CircleId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <select asp-for="ProjectId" class ="form-control" asp-items="ViewBag.ProjectId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TypePlan" class="control-label"></label>
                <select asp-for="TypePlan" class="form-control">
                    <option value="0">GESTÃO</option>
                    <option value="1">ETL</option>
                    <option value="2">DASH</option>
                    <option value="3">BBP</option>
                    <option value="4">AULA</option>
                    <option value="5">PREPAULA</option>
                    <option value="6">DEV</option>
                    <option value="7">MANUT</option>
                </select>
                <span asp-validation-for="TypePlan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeConsultorId" class="control-label"></label>
                <select asp-for="TypeConsultorId" class ="form-control" asp-items="ViewBag.TypeConsultorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
     
            <div class="form-group">
                <label asp-for="PersonId" class="control-label"></label>
                <select asp-for="PersonId" class ="form-control" asp-items="ViewBag.PersonId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TimePlanned" class="control-label"></label>
                <input asp-for="TimePlanned" class="form-control" />
                <span asp-validation-for="TimePlanned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RealTime" class="control-label"></label>
                <input asp-for="RealTime" class="form-control" />
                <span asp-validation-for="RealTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Delivered" /> @Html.DisplayNameFor(model => model.Delivered)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Sprint" class="control-label"></label>
                <input asp-for="Sprint" class="form-control" />
                <span asp-validation-for="Sprint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
